parameters:

application:
	errorPresenter: Front:Error

session:
	expiration: 14 days

extensions:
    dbal: Nettrine\DBAL\DI\DbalExtension
    dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension
    orm: Nettrine\ORM\DI\OrmExtension
    orm.console: Nettrine\ORM\DI\OrmConsoleExtension
    orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
    migrations: Nettrine\Migrations\DI\MigrationsExtension
    nettrine.extensions: Nettrine\Extensions\DI\DoctrineExtensionsExtension
    fixtures: Nettrine\Fixtures\DI\FixturesExtension

services:
	router: App\RouterFactory::createRouter
	- App\Grids\IUserGridFactory
#	-
#		class: app\model\Database\Repository\UserRepository
#		factory: @\app\model\Database\EntityManager::getRepository(app\model\Database\Entity\User)

nettrine.extensions:
    loggable: on
    sluggable: off
    softDeleteable: off
    treeable: off
    blameable: off
    timestampable: on
    translatable: off
    uploadable: off
    sortable: off
    ipTraceable: off

fixtures:
    paths:
        - app/model/Database/Fixtures

orm.annotations:
	paths:
		- app/model/Database/Entity
		- vendor/gedmo/doctrine-extensions/lib/Gedmo/Loggable/Entity
	ignore: [] # ignored annotations
#	cache: Doctrine\Common\Cache\FilesystemCache
#	cacheDir: '%tempDir%/cache/Doctrine.Annotations'

orm:
	# Own em class
	entityManagerClass: App\Model\Database\EntityManager

migrations:
    table: doctrine_migrations
    column: version
    directory: %appDir%/../migrations
    namespace: Migrations
    versionsOrganization: null # null, year, year_and_month