<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{$basePath}/assets/ublaboo/datagrid.css">
	<link rel="stylesheet" type="text/css" href="{$basePath}/assets/ublaboo/datagrid-spinners.css">
	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

	{block scripts}
	<script src="{$basePath}/assets/jquery/dist/jquery.min.js"></script>
	<script src="{$basePath}/assets/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="{$basePath}/assets/nette-forms/src/assets/netteForms.js"></script>
	<script src="{$basePath}/assets/nette.ajax.js/nette.ajax.js"></script>
	<script src="{$basePath}/assets/ublaboo/datagrid-instant-url-refresh.js"></script>
	<script src="{$basePath}/assets/ublaboo/datagrid-spinners.js"></script>
	<script src="{$basePath}/assets/ublaboo/datagrid.js"></script>

	<script>
		$.nette.init();
	</script>
	{/block}
</body>
</html>
