{extends $original_template}
{block icon-sort}(neseřazeno){/}
{block icon-sort-up}(řazeno vzestupně){/}
{block icon-sort-down}(řazeno sestupně){/}
{block table-class}table table-responsive-sm table-bordered table-hover{/block}